---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects universitaires</div>
  </div>

  <HorizontalCard
    title="SAE BUT2"
    img="/SAE_BUT2.png"
    desc="Création d'une application de gestion des biens immobiliers."
    url="#"
    badge="JAVA , OracleSQL, PLSQL, WindowBuilder"
  />

  <div class="divider my-0"></div>

  <HorizontalCard
    title="SAE BUT1"
    img="/SAE_BUT1_sudoku.png"
    desc="Algorithme de résolution de sudoku."
    url="#"
    badge="Ada"
  />

  <div class="divider my-0"></div>

  <HorizontalCard
    title="SAE BUT1"
    img="/SAE_BUT1_machinevirtuel.png"
    desc="installation et configuration d'un poste de travail"
    url="#"
  />

  <div class="divider my-0"></div>

  <HorizontalCard
    title="SAE semestre 4 BUT2"
    img="/SAE_BUT2-4.png"
    desc="Visualiser les données 'brutes'"
    url="#"
  />

  <div class="divider my-0"></div>

  <HorizontalCard
    title="SAE semestre 2 BUT1"
    img="/SAE_BUT1S2_cachier_charges.png"
    desc="Organisation d'un triathlon"
    url="#"
    badge=""
  />
  
  <div class="divider my-0"></div>
  <HorizontalCard
    title="SAE semestre 6 BUT3"
    img="/SAE_BUT2-3.png"
    desc="Travaille en équipe pour élaboration d'un modèle d'intelligence artificielle"
    url="#"
  />
</BaseLayout>
