---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
const { sideBarActiveItemID } = Astro.props;
---

<BaseLayout title="Projects" sideBarActiveItemID="services">
  <div>
    <div class="text-5xl w-full font-bold mb-5">Mes compétences</div>
  </div>
  <div>
    <div class="text-3xl w-full font-bold mb-5">BUT Informatique</div>
  </div>

  <HorizontalCard
    title="Développer, c'est-à-dire concevoir, coder, tester et intégrer une solution informatique pour un client."
    img="/Realiser.png"
    desc=""
    badge=""
    url="#"
  />
  <HorizontalCard
    title="Réaliser"
    img="/Realiser_niveau1.png"
    ul={[
    "- AC1 1.01 | Implémenter des conceptions simples.",
    "- AC1 1.0 2 | Élaborer des conceptions simples.",
    "- AC1 1.0 3 | Faire des essais et évaluer leurs résultats en regard des spécifications.",
    "- AC1 1.0 4 | Développer des interfaces utilisateurs."
    ]}
    badge="SAE"
    url="#"
  />
  <HorizontalCard
    title="Réaliser"
    img="/Realiser_niveau2.png"
    ul={[
    "- AC2 1.0 1 | Élaborer et implémenter les spécifications fonctionnelles et non fonctionnelles à partir des exigences.",
    "- AC2 1.0 2 | Appliquer des principes d’accessibilité et d’ergonomie.",
    "- AC2 1.0 3 | Adopter de bonnes pratiques de conception et de programmation.",
    "- AC2 1.0 4 | Vérifier et valider la qualité de l’application par les tests."
    ]}
    badge="SAE"
    url="#"
  />

  <div class="divider my-0"></div>

  <HorizontalCard
    title="Optimiser"
    img="/Optimiser.png"
    desc="Proposer des applications informatiques optimisées en fonction de critères spécifiques : temps d’exécution, précision, consommation de ressources."
    url="#"
  />
  <HorizontalCard
    title="Optimiser"
    img="/Optimiser_niveau1.png"
    desc="AC1 2.0 1 | Analyser un problème avec méthode (découpage en éléments algorithmiques simples, structure de données). AC1 2.0 2 | Comparer des algorithmes pour des problèmes classiques (tris simples, recherche). AC1 2.0 3 | Formaliser et mettre en œuvre des outils mathématiques pour l’informatique"
    url="#"
  />
  <HorizontalCard
    title="Optimiser"
    img="/Optimiser_niveau2.png"
    desc="AC2 2.0 1 | Choisir des structures de données complexes adaptées au problème. AC2 2.0 2 | Utiliser des techniques algorithmiques adaptées pour des problèmes complexes (par ex. recherche opérationnelle, méthodes arborescentes, optimisation globale, intelligence artificielle). AC2 2.0 3 | Comprendre les enjeux et moyens de sécurisation des données et du code. AC2 2.0 4 | Évaluer l’impact environnemental et sociétal des solutions proposées"
    url="#"
  />

  <div class="divider my-0"></div>

  <HorizontalCard
    title="Administrer"
    img="/Administrer.png"
    desc="Installer et configurer un poste de travail"
    url="#"
    badge="NEW"
  />
  <HorizontalCard
    title="Administrer"
    img="/Administrer_niveau1.png"
    desc="Installer et configurer un poste de travail"
    url="#"
    badge="NEW"
  />
  <HorizontalCard
    title="Administrer"
    img="/Administrer_niveau2.png"
    desc="Installer et configurer un poste de travail"
    url="#"
    badge="NEW"
  />

  <div class="divider my-0"></div>

  <HorizontalCard
    title="Gérer"
    img="/Gerer.png"
    desc="Concevoir et mettre en place une base de données à partir d'un cachier des charges client"
    url="#"
  />
  <HorizontalCard
    title="Gérer"
    img="/Gerer_niveau1.png"
    desc="Concevoir et mettre en place une base de données à partir d'un cachier des charges client"
    url="#"
  />
  <HorizontalCard
    title="Gérer"
    img="/Gerer_niveau2.png"
    desc="Concevoir et mettre en place une base de données à partir d'un cachier des charges client"
    url="#"
  />
  <HorizontalCard
    title="Gérer"
    img="/Gerer_niveau3.png"
    desc="Concevoir et mettre en place une base de données à partir d'un cachier des charges client"
    url="#"
  />

  <div class="divider my-0"></div>

  <HorizontalCard
    title="Conduire"
    img="/Conduire.png"
    desc="Identifier les besoins métiers des clients et des utilisateurs"
    url="#"
  />
  <HorizontalCard
    title="Conduire"
    img="/Conduire_niveau1.png"
    desc="Identifier les besoins métiers des clients et des utilisateurs"
    url="#"
  />
  <HorizontalCard
    title="Conduire"
    img="/Conduire_niveau2.png"
    desc="Identifier les besoins métiers des clients et des utilisateurs"
    url="#"
  />
  <HorizontalCard
    title="Conduire"
    img="/Conduire_niveau3.png"
    desc="Identifier les besoins métiers des clients et des utilisateurs"
    url="#"
  />

  <div class="divider my-0"></div>

  <HorizontalCard
    title="Collaborer"
    img="/Collaborer.png"
    desc="Identifier ses aptitudes pour travailler dans une équipe"
    url="#"
  />
  <HorizontalCard
    title="Collaborer"
    img="/Collaborer_niveau1.png"
    desc="Identifier ses aptitudes pour travailler dans une équipe"
    url="#"
  />
  <HorizontalCard
    title="Collaborer"
    img="/Collaborer_niveau2.png"
    desc="Identifier ses aptitudes pour travailler dans une équipe"
    url="#"
  />
  <HorizontalCard
    title="Collaborer"
    img="/Collaborer_niveau3.png"
    desc="Identifier ses aptitudes pour travailler dans une équipe"
    url="#"
  />
  

</BaseLayout>
